@import "core/_reset.scss";
@import "core/_variables.scss";
@import "core/_mixins.scss";
@import "components/_buttons";
@import "layout/_header.scss";
@import "layout/_section1.scss";
@import "layout/_section2.scss";
@import "layout/_footer.scss";

*:focus {
  outline: 2px solid yellowgreen;
}

.principal-column {
  padding: 0px 15px 0px 15px;
  font-family: $fontText;
  @media all and (min-width: 768px) {
    padding: 0px 39px 0px 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 0px 81.2px 0px 81.2px;
  }
}
