<footer class="footer">
  <a href="#header" class="button btn-footer"><img src="./assets/images/ico-arrow.svg" alt="Ir a inicio" title="Go to header"/></a>

  <ul class="footer-menu-contents pages">
    <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjHtMTD2OLnAhVDzBoKHS8-B7oQFjAAegQICxAC&url=https%3A%2F%2Fwww.pikaramagazine.com%2F&usg=AOvVaw2dMw3IFdEFYnhhOph7JKZb" target="_blank" title="Go to articles>Articles</a></li>
    <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjbtKXp2OLnAhUB0BoKHXd5A7kQFjAAegQIHBAD&url=https%3A%2F%2Fwww.traficantes.net%2F&usg=AOvVaw2kDdZhU51nDgiYFt_hzXzp" target="_blank" title="Go to books">Books</a></li>
    <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwj38pTw2OLnAhUBLBoKHXjpD28QFjAAegQIAxAB&url=https%3A%2F%2Fwww.meetup.com%2Fes-ES%2FNode-Girls-Madrid%2F&usg=AOvVaw2FbaryLt21qXfqxUR-77DB" target="_blank" title="Ir a eventos">Events</a></li>
    <li><a href="#" target="_blank" title="Got to reasons">Reasons</a></li>
    <li><a href="https://www.pinterest.es/eenigualdad/memes-para-responder-a-machirulos/" target="_blank" title="Go to tips">Tips</a></li>
  </ul>

  <ul class="footer-menu-contents rrss">
    <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwj4yOCl2eLnAhXRxYUKHWehC8AQFjAAegQIEBAC&url=https%3A%2F%2Ftwitter.com%2F%3Flang%3Des&usg=AOvVaw3YX5z3gmuFXXOazOkLuKS1" target="_blank" title="Go to Twitter">Twitter</a></li>
    <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjZ9JW92eLnAhWDzYUKHbFkDucQFjAAegQIDxAC&url=https%3A%2F%2Fwww.instagram.com%2F%3Fhl%3Des&usg=AOvVaw0kuV_L6h3AP6LsYVUBN_z9" target="_blank" title="Go to Instagram">Instagram</a></li>
    <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiKiNTK2eLnAhXOxYUKHdZ2AtUQFjAAegQIARAB&url=https%3A%2F%2Fmastodon.social%2F&usg=AOvVaw0yPGDsUcRh25-Gge3l2PWB" target="_blank" title="Go to Mastodon.Social">Mastodon.Social</a></li>
  </ul>

  <div class="copy">
    <small>&copy 2017</small>
    <small
      >we
      <small class="heart">❤︎</small>
      components</small
    >
  </div>
</footer>
