<footer class="footer principal-column">
  <a href="#header" class="button btn-footer"><img src="./assets/images/ico-arrow.svg" alt="Ir a inicio" title="Go to header"/></a>

  <ul class="footer-menu-contents pages">
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to articles"> Articles</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to books">Books</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to events">Events</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to reasons">Reasons</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to tips">Tips</a></li>
  </ul>

  <ul class="footer-menu-contents rrss">
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to Twitter">Twitter</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to Instagram">Instagram</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to Mastodon.Social">Mastodon.Social</a></li>
  </ul>

  <div class="copy">
    <small>&copy 2017</small>
    <small
      >we
      <small class="heart">❤︎</small>
      components</small
    >
  </div>
</footer>
