<footer class="footer principal-column">
  <a href="#header" class="button btn-footer" aria-label="Go to header" tabindex="13"><img src="./assets/images/ico-arrow.svg" alt="Ir a inicio" title="Go to header"/></a>

  <ul class="footer-menu-contents pages">
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to articles" tabindex="5"> Articles</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to books" tabindex="6">Books</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to events" tabindex="7">Events</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to reasons" tabindex="8">Reasons</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to tips" tabindex="9">Tips</a></li>
  </ul>

  <ul class="footer-menu-contents rrss">
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to Twitter" tabindex="10">Twitter</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to Instagram" tabindex="11">Instagram</a></li>
    <li><a class="footer-link" href="https://adalab.es/" target="_blank" title="Go to Mastodon.Social" tabindex="12">Mastodon.social</a></li>
  </ul>

  <div class="copy">
    <small>&copy 2017</small>
    <small
      >we
      <small class="heart">❤︎</small>
      components</small
    >
  </div>
</footer>
