<header id="header" class="header">
  <nav>
    <a href="https://adalab.es/" class="btn-menu" target="_blank" aria-label="Menu" tabindex="1"><img src="./assets/images/ico-menu.svg" alt="Menu" title="Go to reasons"/></a>
  </nav>
  <div class="header-content principal-column">
    <h1 class="header-h1"><span>Anonymous</span><span>proxy</span></h1>
    <p class="header-text">In hac habitasse platea dictumst.</p>
  </div>
  <a class="button btn-header" href="#section2" title="Go to reasons" aria-label="Go to three reasons to purchase"><img src="./assets/images/ico-scroll-down.svg" alt="Go to reasons" title="Go to reasons" tabindex="2"/></a>
</header>
