<section id="section2" class="section2 principal-column">
  <h2 class="section2-h2">3 Reasons To Purchase</h2>
  <partial src="_article.html" title="Ut sed metus" articleText="Lorem ipsum dolor sit amet, consecteur."></partial>
  <partial src="_article.html" title="Curabitur ac erat" articleText="Mauris mattis urna quis lorem molestie."></partial>
  <partial src="_article.html" title="Morbi dictum" articleText="Aliquam in dolor et dolor tincidunt."></partial>
  <a class="section2-btn button btn-more" href="https://www.thebalance.com/can-you-find-10-good-reasons-not-to-buy-a-home-1798256" target="_blank" title="Go to more reasons">More reasons</a>
</section>
