.button {
  @include flex-column;
  align-items: center;
  background-color: white;
  color: $colorButtons;
  padding: 0.5em;
  border: $colorButtons solid;
  border-radius: 2em;
  text-decoration: none;
  &.btn-header {
    border: none;
    margin: 0px auto 53px auto;
    padding: 0.7em 0.5em;
  }
  &.btn-go {
    width: 76px;
    padding: 0.5em 1.2em;
    margin: 0px auto 45px auto;
    font-size: 20px;
    scale: 1;
    transition: scale ease 2s;
    &:hover {
      scale: 1.5;
    }
  }
  &.btn-more {
    background-color: $colorButtons;
    transition: background-color ease 2s;
    color: $colorText2;
    padding: 0.5em 1.2em;
    width: 12em;
    font-weight: 500;
    &:hover {
      background-color: $colorText;
    }
  }
  &.btn-footer {
    display: inline-block;
    position: absolute;
    top: -22.5px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 2.5em;
    height: 2.5em;
    animation: btn-move 5s;
    @keyframes btn-move {
      from {
        left: 150%;
        transform: scale(5);
      }
      to {
        left: 50%;
      }
    }
  }
  @media all and (min-width: 768px) {
    &.btn-header {
      margin-bottom: 45px;
    }
    &.btn-go {
      width: 91px;
      padding: 0.5em 1.2em;
      margin: 0px auto 60px 0px;
    }
  }
  @media all and (min-width: 1200px) {
    &.btn-header {
      margin-bottom: 13px;
    }
    &.btn-go {
      width: 160px;
      padding: 0.5em 2em;
    }
  }
}

.btn-menu {
  @include flex-column;
  justify-content: center;
  background-color: $colorMenu;
  color: $colorText2;
  position: fixed;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
}
