.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #f26002;
  padding: 0.5em;
  border: #f26002 solid;
  border-radius: 2em;
  text-decoration: none;
  &.btn-header {
    border: none;
    margin: 0px auto 53px auto;
    padding: 0.7em 0.5em;
  }
  &.btn-go {
    width: 76px;
    padding: 0.5em 1.2em;
    margin: 0px auto 45px auto;
    font-size: 20px;
  }
  &.btn-more {
    background-color: #f26002;
    color: white;
    padding: 0.5em 1.2em;
    width: 12em;
    font-weight: bold;
  }
  &.btn-footer {
    position: relative;
    bottom: 1.2em;
    border: none;
    width: 2.5em;
    height: 2.5em;
  }
  @media all and (min-width: 768px) {
    &.btn-header {
      margin-bottom: 45px;
    }
    &.btn-go {
      width: 91px;
      padding: 0.5em 1.2em;
      margin: 0px auto 60px 0px;
    }
    &.btn-footer {
      position: absolute;
      bottom: -39.7em;
      right: 23em;
    }
  }
  @media all and (min-width: 1200px) {
    &.btn-header {
      margin-bottom: 13px;
    }
    &.btn-go {
      width: 160px;
      padding: 0.5em 2em;
    }
    &.btn-footer {
      position: absolute;
      bottom: -39.7em;
      right: 36em;
    }
  }
}
