.footer {
  background-color: $colorFooter;
  color: $colorText2;
  font-family: $fontText;
  @include flex-column;
  align-items: center;
  position: relative;

  .footer-link {
    color: $colorText2;
    text-decoration: none;
  }
  @media all and (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__menu {
    font-size: 16px;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.875rem;
    &__pages {
      margin: 3.75rem 7.688rem 1.875rem 7.688rem;
      list-style: none;
    }
    &__rrss {
      margin: 0rem 5.375rem 1.875rem 5.375rem;
      list-style: none;
    }

    @media all and (min-width: 768px) {
      text-align: left;
      display: flex;
      flex-direction: row;

      &__pages {
        margin: 2.813rem 1.875rem 2.813rem 1.875rem;
        width: 13.125rem;
        @include flex-column;
        order: 1;
      }
      &__rrss {
        margin: 2.813rem 0rem 6.563rem 0rem;
        @include flex-column;
        width: 13.125rem;
        order: 2;
      }
    }

    @media all and (min-width: 1200px) {
      &__pages {
        margin-right: 0rem;
        width: 10.063rem;
      }
      &__rrss {
        margin-right: 19.438rem;
        margin-left: 1.875rem;
        width: 9.938rem;
      }
    }
  }
  .copy {
    font-size: 14px;
    @include flex-column;
    align-items: center;
    margin-bottom: 2.813rem;

    .heart {
      color: $colorButtons;
    }
    @media all and (min-width: 768px) {
      align-items: flex-start;
      width: 13.125rem;
      order: 3;
    }
    @media all and (min-width: 1200px) {
      margin-left: 19.438rem;
      margin-right: 1.875rem;
      width: 9.938rem;
    }
  }
}
