.section1 {
  .section1-small {
    display: inline-block;
    font-size: 14px;
    text-transform: $capitalize;
    color: $colorText4;
    margin: 30px auto 1px auto;
  }
  .section1-h2 {
    text-transform: $capitalize;
    color: $colorText;
    font-family: $fontTitle;
    font-size: 24px;
    margin: 0px auto 15px auto;
  }

  .section1-text {
    font-size: 18px;
    margin: 0px auto 30px auto;
    color: $colorText3;
  }

  @media all and (min-width: 1200px) {
    margin: auto 193.8px auto 193.8px;
  }
}
