// Font style
$fontText: "Roboto", sans-serif, regular;
$fontTitle: "Roboto Slab", sans-serif, bold;
$capitalize: capitalize;
$uppercase: uppercase;

// Text color
$colorText: black;
$colorText2: white;
$colorText3: #4a4a4a;
$colorText4: #8ccbea;

// Principal section colors
$colorSection: #eff9ff;
$colorFooter: #304268;

// Components colors
$colorButtons: #f26002;
$colorMenu: #0271bc;
